<!DOCTYPE html>
<html>
<head>
  <title>Traincube Starter Kit</title>
  <meta charset="UTF-8">
  <!--
  The htmlWebpackPlugin will parse the logic below so that trackJS is only added to the production version of index.html (since only webpack.config.prod.js provides the trackJS token)
  This is an example of how to add features to index.html for only one environment.
  -->
  <% if (htmlWebpackPlugin.options.trackJSToken) { %>
  <!-- BEGIN TRACKJS -->
  <script type="text/javascript">window._trackJs = { token: '<%=htmlWebpackPlugin.options.trackJSToken%>' };</script>
  <script type="text/javascript" src="https://cdn.trackjs.com/releases/current/tracker.js"></script>
  <!-- END TRACKJS -->
  <% } %>
  <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=fetch"></script>
</head>
<body>
  <h1>Products</h1>
  <table>
    <thead>
      <th>&nbsp;</th>
      <th>Id</th>
      <th>Name</th>
      <th>Description</th>
    </thead>
    <tbody id="products">

    </tbody>
  </table>
  <!-- <script src="bundle.js" type="text/javascript" charset="utf-8" async defer></script> -->
</body>
</html>
